.cursos{
    background-color: lightsteelblue;
    padding: 10px;  
}
.cursos  h1{
    color: black;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder; 
}

@media(max-width:600px){
    .cursos  h1{
        font-size: 75px;    
    }
}
.cursos h2{
    font-size: 30px;
    font-weight: bold;   
}
.cursos p{
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}
div .cursos{
    margin-bottom: 100px;
}