{% extends 'base.html' %}

{% block body %}

<div class="container principal"> 
        <section class="experiencia">
            <h1>Experiência</h1>
            <br>
            <div>
                <h2>Desenhista 3D</h2>
                <p>Meu ultimo emprego foi como desenhista 3D. <br>
                Estou buscando minha primeira vaga na area de programação.
                </p>
                <h2>Programação</h2>
                <p>Possuo uma breve experiência com Python, Flask e BootStrap.
                </p>
                <p>Com html e CSS também já tive pequeno contato para fazer algumas alterações.</p>
                <p>Com java eu desenvolvi um sistema durate meu curso no Senac junto MySql e GIT.</p>
        </div>
        <br>
        <div class="imagem">
            <h3 >Site Feito com python, flask e bootstrap.</h3>
            <img  src="/static/img/img1.jpg" alt="Imagem portfólio 1" >
        </div>  
        <br>
        <br>  
    </section>

    <section class="cursos">
        <div >
           
            <h1 class="titulo">Cursos</h1>
            <br>
            <div >    
                <h2 >SENAC - JOAÇABA</h2>
                <p>Curso de desenvolvimento de sistema em java.</p>
                <p> 06/2021 até 12/2021.</p>
            </div>
            <br>
            <div >    
                <h2>DEV-ti - UNOESC JOAÇABA</h2>
                <p>Curso de desenvolvimento de WEB em java.</p>
                <p> 04/2022 até 04/2023.</p>
            </div>
    </div>
    </section>
    </section>
             
</div>
   
{% endblock %}


