{% extends 'base.html' %}

{% block body %}

<div class="container principal">   
    <section  class="cursos" id="cursos" >
        <div >
            <h1 class="titulo">Cursos</h1>
            <br>
            <div >    
                <h3 >SENAC - JOAÇABA</h3>
                <p>Curso de desenvolvimento de sistema em java.</p>
                <p> 06/2021 até 12/2021.</p>
            </div>
            <br>
            <div >    
                <h3>DEV-ti - UNOESC JOAÇABA</h3>
                <p>Curso de desenvolvimento de WEB em java.</p>
                <p> 04/2022 até 04/2023.</p>
            </div>
        </div>


        
{% endblock %}


